extends partial/_layout

block vars
  - var pageClass   = ''
  - var title       = 'TOP - IMJ CUP'
  - var description = ''
  - var keywords    = ''
  - var style       = './css/index.css'
  - var div         = '<div>'

block script
  script.
    if ((navigator.userAgent.indexOf('iPhone') > 0 && navigator.userAgent.indexOf('iPad') == -1) ||navigator.userAgent.indexOf('iPod') > 0 || navigator.userAgent.indexOf('Android') > 0) {location.href = 'index-sp.html';}
  script(charset="UTF-8" src="./index.bundle.js")
block contents
  main#main
    .menu__overlay(style='display:none')
    .menu__main(style='display:none')
      .menu__list
        .menu__item.menu__item__top
        a(href='rule.html').menu__item.menu__item__summary.menu__item--active
        a(href='/group').menu__item.menu__item__group.menu__item--active
    .navi
      .navi__menu.navi__menu__line
      a(href='https://www.facebook.com/events/484653471951567/' target='_blank').navi__facebook
    .kv__wrapper
      img.kv__anniversary(src='./assets/images/kv__anniversary.png')(style='display:none')
      img.kv__title(src='./assets/images/kv__title.png')(style='display:none')
      img.kv__date(src='./assets/images/kv__date.png')(style='display:none')
      .kv__scrolldown(style='display:none')
      .js-pctext(style='display:none')
        h2.kv__headline フットサルの力で、<br>会社関係者の業務体験を豊かにする
        p.kv__text
          | IMJは大きな変革期の中にいる。
          | <br>
          | 人員拡大、大きな組織変更、オフィスの変化と働き方の変化。
          | <br>
          | <br>
          | 今こそ、仕事をもっと楽しむために！
          | <br>
          | 多くの人とコミュニケーションが取れるように！
          | <br>
          | 仕組みや制度に頼らない、自分たちで楽しむ場を作っていこうよ！
          | <br>
          | <br>
          | 全社を巻き込んだ年に一回の一大イベント。
          | <br>
          | それこそが、IMJ CUP。
      a(href='rule.html').about 大会概要・ルール
      .team__wrapper
        .team__item
          .team__item__overlay
          .team__item__logo
            img(src='./assets/images/logo_ai.png')
          .team__item__name AI
          .team__item__detail Accenture Interactive
        .team__item
          .team__item__overlay
          .team__item__logo
            img(src='./assets/images/logo_bridge.png')
          .team__item__name Bridge
          .team__item__detail Bridge
        .team__item
          .team__item__overlay
          .team__item__logo
            img(src='./assets/images/logo_cc2.png')
          .team__item__name CC2
          .team__item__detail 旧CC2
        .team__item
          .team__item__overlay
          .team__item__logo
            img(src='./assets/images/logo_clearfix.png')
          .team__item__name .clearfix
          .team__item__detail IMJ+ef4
        .team__item
          .team__item__overlay
          .team__item__logo
            img(src='./assets/images/logo_d2f.png')
          .team__item__name D2F
          .team__item__detail 旧MTL
        .team__item
          .team__item__overlay
          .team__item__logo
            img(src='./assets/images/logo_fc-black-soda.png')
          .team__item__name FC BlackSoda
          .team__item__detail CS1
        .team__item.team__item--fc-mocchi
          .team__item__overlay
          .team__item__logo
            img(src='./assets/images/logo_fc-mocchi.png')
          .team__item__name FC もっちー
          .team__item__detail AC連合
        .team__item
          .team__item__overlay
          .team__item__logo
            img(src='./assets/images/logo_flex-times.png')
          .team__item__name FLEX TIMES
          .team__item__detail 新卒 ’14/’15/’16/’17
        .team__item
          .team__item__overlay
          .team__item__logo.team__item__logo--ia
            img(src='./assets/images/logo_ia-exe-xlsx.svg')
          .team__item__name IA.EXE.pptx
          .team__item__detail CS2
        .team__item
          .team__item__overlay
          .team__item__logo.team__item__logo--ia
            img(src='./assets/images/logo_ia-exe-xlsx.svg')
          .team__item__name IA.EXE.xlsx
          .team__item__detail CS2
        .team__item.team__item--jelly-fc
          .team__item__overlay
          .team__item__logo
            img(src='./assets/images/logo_jelly-fc.png')
          .team__item__name JellyFC
          .team__item__detail シス開
        .team__item
          .team__item__overlay
          .team__item__logo
            img(src='./assets/images/logo_the-strong-6man.png')
          .team__item__name the STRONG 6man
          .team__item__detail 中途 ’17/’18
        .team__item
          .team__item__overlay
          .team__item__logo
            img(src='./assets/images/logo_div.png')
          .team__item__name #{div}
          .team__item__detail 新卒 ’18
        .team__item
          .team__item__overlay
          .team__item__logo
            img(src='./assets/images/logo_togo-6.png')
          .team__item__name トーゴシックス
          .team__item__detail 新卒 ’07/’08/’09

      .team__modal__overlay
      .team__modal__content(style='display: none')
        .team__modal__content__upper
          img(src='./assets/images/modal_ai.png')
        .team__modal__content__lower
          .team__modal__content__lower__headline COMMENT
          .team__modal__content__lower__text 昨年は負傷者を出してしまい大変ご心配・ご迷惑をお掛けしました。安全第一で頑張ります。ロシアW杯代表メンバー漏れの悔しさを今大会にぶつけます！
          a(href='https://docs.google.com/spreadsheets/d/1nHRKzLn9X5NYEG64HAYnQ4kK3e3pktZ0xt5xXmzybDQ/edit#gid=0' target='_blank').team__modal__content__lower__members 出場メンバー 一覧

      .team__modal__content(style='display: none')
        .team__modal__content__upper
          img(src='./assets/images/modal_bridge.png')
        .team__modal__content__lower
          .team__modal__content__lower__headline COMMENT
          .team__modal__content__lower__text Le résultat n'est pas important. Le résultat est tout
          a(href='https://docs.google.com/spreadsheets/d/1nHRKzLn9X5NYEG64HAYnQ4kK3e3pktZ0xt5xXmzybDQ/edit#gid=0' target='_blank').team__modal__content__lower__members 出場メンバー 一覧

      .team__modal__content(style='display: none')
        .team__modal__content__upper
          img(src='./assets/images/modal_cc2.png')
        .team__modal__content__lower
          .team__modal__content__lower__headline COMMENT
          .team__modal__content__lower__text 前回決勝まで無失点の守備力で準優勝！今年は人数が減り厳しい大会になると思うが、目指すはさらに高みへ！これがCC2ラストマッチ！有終の美を。
          a(href='https://docs.google.com/spreadsheets/d/1nHRKzLn9X5NYEG64HAYnQ4kK3e3pktZ0xt5xXmzybDQ/edit#gid=0' target='_blank').team__modal__content__lower__members 出場メンバー 一覧

      .team__modal__content(style='display: none')
        .team__modal__content__upper
          img(src='./assets/images/modal_clearfix.png')
        .team__modal__content__lower
          .team__modal__content__lower__headline COMMENT
          .team__modal__content__lower__text そろそろ優勝しちゃおっかなぁ〜(・ω<)
          a(href='https://docs.google.com/spreadsheets/d/1nHRKzLn9X5NYEG64HAYnQ4kK3e3pktZ0xt5xXmzybDQ/edit#gid=0' target='_blank').team__modal__content__lower__members 出場メンバー 一覧

      .team__modal__content(style='display: none')
        .team__modal__content__upper
          img(src='./assets/images/modal_d2f.png')
        .team__modal__content__lower
          .team__modal__content__lower__headline COMMENT
          .team__modal__content__lower__text 昨季は、のれん分けしたFC もっちーに優勝をかっさらわれ悔しい思いをしました。。。この悔しさは優勝で晴らすしかないと思ってます！
          a(href='https://docs.google.com/spreadsheets/d/1nHRKzLn9X5NYEG64HAYnQ4kK3e3pktZ0xt5xXmzybDQ/edit#gid=0' target='_blank').team__modal__content__lower__members 出場メンバー 一覧

      .team__modal__content(style='display: none')
        .team__modal__content__upper
          img(src='./assets/images/modal_fc-black-soda.png')
        .team__modal__content__lower
          .team__modal__content__lower__headline COMMENT
          .team__modal__content__lower__text ゲーゲンプレスをはじめ、プレッシングサッカー全盛期の今。我々シニアはどんな案件も逃げずに戦う熟練した「プレス耐性」で体力の壁を越えます！
          a(href='https://docs.google.com/spreadsheets/d/1nHRKzLn9X5NYEG64HAYnQ4kK3e3pktZ0xt5xXmzybDQ/edit#gid=0' target='_blank').team__modal__content__lower__members 出場メンバー 一覧

      .team__modal__content(style='display: none')
        .team__modal__content__upper
          img(src='./assets/images/modal_fc-mocchi.png')
        .team__modal__content__lower
          .team__modal__content__lower__headline COMMENT
          .team__modal__content__lower__text 前回大会は初参戦で初優勝。しかし今回はキャプテンもっちーがW杯ロシア大会日本代表メンバーに招集され不在。連覇に向けて真の力が試される。
          a(href='https://docs.google.com/spreadsheets/d/1nHRKzLn9X5NYEG64HAYnQ4kK3e3pktZ0xt5xXmzybDQ/edit#gid=0' target='_blank').team__modal__content__lower__members 出場メンバー 一覧

      .team__modal__content(style='display: none')
        .team__modal__content__upper
          img(src='./assets/images/modal_flex-times.png')
        .team__modal__content__lower
          .team__modal__content__lower__headline COMMENT
          .team__modal__content__lower__text Flextimesとはいえコアタイムがなくなり、いつでも走れる環境が整いました。<br>対戦チームの方々、一緒に試合を楽しみましょう！
          a(href='https://docs.google.com/spreadsheets/d/1nHRKzLn9X5NYEG64HAYnQ4kK3e3pktZ0xt5xXmzybDQ/edit#gid=0' target='_blank').team__modal__content__lower__members 出場メンバー 一覧

      .team__modal__content(style='display: none')
        .team__modal__content__upper.team__modal__content__upper--ia
          img(src='./assets/images/modal_ia-exe-pptx.png')
        .team__modal__content__lower
          .team__modal__content__lower__headline COMMENT
          .team__modal__content__lower__text 勇気をもって戦おう　失うものは何もない　勝利を目指して歩んできた<br>ようやく来たぞこの時が　うれし涙を流すんだ！
          a(href='https://docs.google.com/spreadsheets/d/1nHRKzLn9X5NYEG64HAYnQ4kK3e3pktZ0xt5xXmzybDQ/edit#gid=0' target='_blank').team__modal__content__lower__members 出場メンバー 一覧

      .team__modal__content(style='display: none')
        .team__modal__content__upper.team__modal__content__upper--ia
          img(src='./assets/images/modal_ia-exe-xlsx.png')
        .team__modal__content__lower
          .team__modal__content__lower__headline COMMENT
          .team__modal__content__lower__text 屈辱にまみれたこの約一年。どこより勝ちに飢えているはず。(だって去年最下位だし。。。)やります。ええ、やりますとも。今年は勝つ！
          a(href='https://docs.google.com/spreadsheets/d/1nHRKzLn9X5NYEG64HAYnQ4kK3e3pktZ0xt5xXmzybDQ/edit#gid=0' target='_blank').team__modal__content__lower__members 出場メンバー 一覧

      .team__modal__content(style='display: none')
        .team__modal__content__upper
          img(src='./assets/images/modal_jelly-fc.png')
        .team__modal__content__lower
          .team__modal__content__lower__headline COMMENT
          .team__modal__content__lower__text 前々回優勝からの、前回ドベ２。。この雪辱を晴らすべく、今年は練習を重ね、秘密兵器(?)を投入しました。今年のシスは、きっと一味違う。
          a(href='https://docs.google.com/spreadsheets/d/1nHRKzLn9X5NYEG64HAYnQ4kK3e3pktZ0xt5xXmzybDQ/edit#gid=0' target='_blank').team__modal__content__lower__members 出場メンバー 一覧

      .team__modal__content(style='display: none')
        .team__modal__content__upper
          img(src='./assets/images/modal_the-strong-6man.png')
        .team__modal__content__lower
          .team__modal__content__lower__headline COMMENT
          .team__modal__content__lower__text 屈強な男6人の物語。
          a(href='https://docs.google.com/spreadsheets/d/1nHRKzLn9X5NYEG64HAYnQ4kK3e3pktZ0xt5xXmzybDQ/edit#gid=0' target='_blank').team__modal__content__lower__members 出場メンバー 一覧

      .team__modal__content(style='display: none')
        .team__modal__content__upper
          img(src='./assets/images/modal_div.png')
        .team__modal__content__lower
          .team__modal__content__lower__headline COMMENT
          .team__modal__content__lower__text 2か月間の研修で身につけた ”同期の結束力” を武器に、初出場初優勝を目指して、頑張ります。
          a(href='https://docs.google.com/spreadsheets/d/1nHRKzLn9X5NYEG64HAYnQ4kK3e3pktZ0xt5xXmzybDQ/edit#gid=0' target='_blank').team__modal__content__lower__members 出場メンバー 一覧

      .team__modal__content(style='display: none')
        .team__modal__content__upper
          img(src='./assets/images/modal_togo-6.png')
        .team__modal__content__lower
          .team__modal__content__lower__headline COMMENT
          .team__modal__content__lower__text もはやIMJ所属メンバーが藤後一人しかいないため、藤後のチームに変更。<br>藤後が選ぶ6人と兼務の2人を助っ人に従え、心機一転、優勝を狙います。
          a(href='https://docs.google.com/spreadsheets/d/1nHRKzLn9X5NYEG64HAYnQ4kK3e3pktZ0xt5xXmzybDQ/edit#gid=0' target='_blank').team__modal__content__lower__members 出場メンバー 一覧

      a(href='/group').group-schedule 予選グループ・対戦スケジュール
      a(href='https://www.facebook.com/events/484653471951567/' target='_blank').footer__facebook
      img(src='./assets/images/copyright.png').footer__copyright