extends partial/_layout

block vars
  - var pageClass   = ''
  - var title       = ''
  - var description = ''
  - var keywords    = ''
  - var style       = './css/index.css'

block script
  script.
    if ((navigator.userAgent.indexOf('iPhone') > 0 && navigator.userAgent.indexOf('iPad') == -1) ||navigator.userAgent.indexOf('iPod') > 0 || navigator.userAgent.indexOf('Android') > 0) {location.href = 'index-sp.html';}
  script(charset="UTF-8" src="./index.bundle.js")
block contents
  main#main
    .menu__overlay(style='display:none')
    .menu__main(style='display:none')
      .menu__list
        .menu__item.menu__item__top.menu__item--active
        a(href='rule.html').menu__item.menu__item__summary.menu__item--active
        .menu__item.menu__item__group
        .menu__item.menu__item__history
    .navi
      .navi__menu.navi__menu__line
      a(href='https://www.facebook.com/events/484653471951567/' target='_blank').navi__facebook
    .kv__wrapper
      img.kv__anniversary(src='./assets/images/kv__anniversary.png')(style='display:none')
      img.kv__title(src='./assets/images/kv__title.png')(style='display:none')
      img.kv__date(src='./assets/images/kv__date.png')(style='display:none')
      .kv__scrolldown(style='display:none')
      .js-pctext(style='display:none')
        h2.kv__headline フットサルの力で、<br>会社関係者の業務体験を豊かにする
        p.kv__text
          | IMJは大きな変革期の中にいる。
          | <br>
          | 人員拡大、大きな組織変更、オフィスの変化と働き方の変化。
          | <br>
          | <br>
          | 今こそ、仕事をもっと楽しむために！
          | <br>
          | 多くの人とコミュニケーションが取れるように！
          | <br>
          | 仕組みや制度に頼らない、自分たちで楽しむ場を作っていこうよ！
          | <br>
          | <br>
          | 全社を巻き込んだ年に一回の一大イベント。
          | <br>
          | それこそが、IMJ CUP。
      a(href='rule.html').about 大会概要・ルール
      a(href='https://www.facebook.com/events/484653471951567/' target='_blank').footer__facebook