extends partial/_layout

block vars
  - var pageClass   = ''
  - var title       = 'TOP - IMJ CUP'
  - var description = ''
  - var keywords    = ''
  - var style       = './css/index-sp.css'

block script
  script(charset="UTF-8" src="./index.bundle.js")
block contents
  main#main
    .menu__overlay(style='display:none')
    .menu__main(style='display:none')
      .menu__list
        .menu__item.menu__item__top.top__selected
        a(href='rule.html').menu__item.menu__item__summary
        //a(href='group/index.html').menu__item.menu__item__group
    .navi
      a(href='https://www.facebook.com/events/484653471951567/' target='_blank').navi__facebook
      .navi__menu.navi__menu__line

    .kv__wrapper

      img.kv__kv-sp(src='./assets/images/kv-sp.png')
      img.kv__anniversary(src='./assets/images/kv__anniversary-sp.png')(style='display:none')
      img.kv__title(src='./assets/images/kv__title-sp.png')(style='display:none')
      img.kv__date(src='./assets/images/kv__date-sp.png')(style='display:none')
      img.kv__scrolldown(src='./assets/images/scrolldown.png')(style='display:none')
      .js-pctext(style='display:none')
      a(href='rule.html').about
        img(src='./assets/images/about-sp.png')
      .team__wrapper
        .team__item
          .team__item__overlay
          .team__item__logo
            img(src='./assets/images/logo_ai-sp.png')
        .team__item
          .team__item__overlay
          .team__item__logo
            img(src='./assets/images/logo_bridge-sp.png')
        .team__item
          .team__item__overlay
          .team__item__logo
            img(src='./assets/images/logo_cc2-sp.png')
        .team__item
          .team__item__overlay
          .team__item__logo
            img(src='./assets/images/logo_clearfix-sp.png')
        .team__item
          .team__item__overlay
          .team__item__logo
            img(src='./assets/images/logo_d2f-sp.png')
        .team__item
          .team__item__overlay
          .team__item__logo
            img(src='./assets/images/logo_fc-blacksoda-sp.png')
        .team__item.team__item--fc-mocchi
          .team__item__overlay
          .team__item__logo
            img(src='./assets/images/logo_fc-mocchi-sp.png')
        .team__item
          .team__item__overlay
          .team__item__logo
            img(src='./assets/images/logo_flextimes-sp.png')
        .team__item
          .team__item__overlay
          .team__item__logo
            img(src='./assets/images/logo_ia-exe-pptx-sp.png')
        .team__item
          .team__item__overlay
          .team__item__logo
            img(src='./assets/images/logo_ia-exe-xlsx-sp.png')
        .team__item.team__item--jelly-fc
          .team__item__overlay
          .team__item__logo
            img(src='./assets/images/logo_jelly-fc-sp.png')
        .team__item
          .team__item__overlay
          .team__item__logo
            img(src='./assets/images/logo_the-strong6man-sp.png')
        .team__item
          .team__item__overlay
          .team__item__logo
            img(src='./assets/images/logo_div-sp.png')
        .team__item
          .team__item__overlay
          .team__item__logo
            img(src='./assets/images/logo_togo-6-sp.png')

      .team__modal__overlay
      .team__modal__content(style='display: none')
        .team__modal__content__upper
          img(src='./assets/images/modal_ai-sp.png')
        .team__modal__content__lower
          .team__modal__content__lower__headline COMMENT
          .team__modal__content__lower__text 昨年は負傷者を出してしまい大変ご心配・ご迷惑をお掛けしました。安全第一で頑張ります。ロシアW杯代表メンバー漏れの悔しさを今大会にぶつけます！
          a(href='https://docs.google.com/spreadsheets/d/1nHRKzLn9X5NYEG64HAYnQ4kK3e3pktZ0xt5xXmzybDQ/edit#gid=0' target='_blank').team__modal__content__lower__members 出場メンバー 一覧

      .team__modal__content(style='display: none')
        .team__modal__content__upper
          img(src='./assets/images/modal_bridge-sp.png')
        .team__modal__content__lower
          .team__modal__content__lower__headline COMMENT
          .team__modal__content__lower__text Le résultat n'est pas important. Le résultat est tout
          a(href='https://docs.google.com/spreadsheets/d/1nHRKzLn9X5NYEG64HAYnQ4kK3e3pktZ0xt5xXmzybDQ/edit#gid=0' target='_blank').team__modal__content__lower__members 出場メンバー 一覧

      .team__modal__content(style='display: none')
        .team__modal__content__upper
          img(src='./assets/images/modal_cc2-sp.png')
        .team__modal__content__lower
          .team__modal__content__lower__headline COMMENT
          .team__modal__content__lower__text 前回決勝まで無失点の守備力で準優勝！今年は人数が減り厳しい大会になると思うが、目指すはさらに高みへ！これがCC2ラストマッチ！有終の美を。
          a(href='https://docs.google.com/spreadsheets/d/1nHRKzLn9X5NYEG64HAYnQ4kK3e3pktZ0xt5xXmzybDQ/edit#gid=0' target='_blank').team__modal__content__lower__members 出場メンバー 一覧

      .team__modal__content(style='display: none')
        .team__modal__content__upper
          img(src='./assets/images/modal_clearfix-sp.png')
        .team__modal__content__lower
          .team__modal__content__lower__headline COMMENT
          .team__modal__content__lower__text そろそろ優勝しちゃおっかなぁ〜(・ω<)
          a(href='https://docs.google.com/spreadsheets/d/1nHRKzLn9X5NYEG64HAYnQ4kK3e3pktZ0xt5xXmzybDQ/edit#gid=0' target='_blank').team__modal__content__lower__members 出場メンバー 一覧

      .team__modal__content(style='display: none')
        .team__modal__content__upper
          img(src='./assets/images/modal_d2f-sp.png')
        .team__modal__content__lower
          .team__modal__content__lower__headline COMMENT
          .team__modal__content__lower__text 昨季は、のれん分けしたFC もっちーに優勝をかっさらわれ悔しい思いをしました。。。この悔しさは優勝で晴らすしかないと思ってます！
          a(href='https://docs.google.com/spreadsheets/d/1nHRKzLn9X5NYEG64HAYnQ4kK3e3pktZ0xt5xXmzybDQ/edit#gid=0' target='_blank').team__modal__content__lower__members 出場メンバー 一覧

      .team__modal__content(style='display: none')
        .team__modal__content__upper
          img(src='./assets/images/modal_fc-black-soda-sp.png')
        .team__modal__content__lower
          .team__modal__content__lower__headline COMMENT
          .team__modal__content__lower__text ゲーゲンプレスをはじめ、プレッシングサッカー全盛期の今。我々シニアはどんな案件も逃げずに戦う熟練した「プレス耐性」で体力の壁を越えます！
          a(href='https://docs.google.com/spreadsheets/d/1nHRKzLn9X5NYEG64HAYnQ4kK3e3pktZ0xt5xXmzybDQ/edit#gid=0' target='_blank').team__modal__content__lower__members 出場メンバー 一覧

      .team__modal__content(style='display: none')
        .team__modal__content__upper
          img(src='./assets/images/modal_fc-mocchi-sp.png')
        .team__modal__content__lower
          .team__modal__content__lower__headline COMMENT
          .team__modal__content__lower__text 前回大会は初参戦で初優勝。しかし今回はキャプテンもっちーがW杯ロシア大会日本代表メンバーに招集され不在。連覇に向けて真の力が試される。
          a(href='https://docs.google.com/spreadsheets/d/1nHRKzLn9X5NYEG64HAYnQ4kK3e3pktZ0xt5xXmzybDQ/edit#gid=0' target='_blank').team__modal__content__lower__members 出場メンバー 一覧

      .team__modal__content(style='display: none')
        .team__modal__content__upper
          img(src='./assets/images/modal_flex-times-sp.png')
        .team__modal__content__lower
          .team__modal__content__lower__headline COMMENT
          .team__modal__content__lower__text Flextimesとはいえコアタイムがなくなり、いつでも走れる環境が整いました。対戦チームの方々、一緒に試合を楽しみましょう！
          a(href='https://docs.google.com/spreadsheets/d/1nHRKzLn9X5NYEG64HAYnQ4kK3e3pktZ0xt5xXmzybDQ/edit#gid=0' target='_blank').team__modal__content__lower__members 出場メンバー 一覧

      .team__modal__content(style='display: none')
        .team__modal__content__upper
          img(src='./assets/images/modal_ia-exe-pptx-sp.png')
        .team__modal__content__lower
          .team__modal__content__lower__headline COMMENT
          .team__modal__content__lower__text 勇気をもって戦おう　失うものは何もない　勝利を目指して歩んできた　ようやく来たぞこの時が　うれし涙を流すんだ！
          a(href='https://docs.google.com/spreadsheets/d/1nHRKzLn9X5NYEG64HAYnQ4kK3e3pktZ0xt5xXmzybDQ/edit#gid=0' target='_blank').team__modal__content__lower__members 出場メンバー 一覧

      .team__modal__content(style='display: none')
        .team__modal__content__upper
          img(src='./assets/images/modal_ia-exe-xlsx-sp.png')
        .team__modal__content__lower
          .team__modal__content__lower__headline COMMENT
          .team__modal__content__lower__text 屈辱にまみれたこの約一年。どこより勝ちに飢えているはず。(だって去年最下位だし。。。)<br>やります。ええ、やりますとも。今年は勝つ！
          a(href='https://docs.google.com/spreadsheets/d/1nHRKzLn9X5NYEG64HAYnQ4kK3e3pktZ0xt5xXmzybDQ/edit#gid=0' target='_blank').team__modal__content__lower__members 出場メンバー 一覧

      .team__modal__content(style='display: none')
        .team__modal__content__upper
          img(src='./assets/images/modal_jelly-fc-sp.png')
        .team__modal__content__lower
          .team__modal__content__lower__headline COMMENT
          .team__modal__content__lower__text 前々回優勝からの、前回ドベ２。。この雪辱を晴らすべく、今年は練習を重ね、秘密兵器(?)を投入しました。今年のシスは、きっと一味違う。
          a(href='https://docs.google.com/spreadsheets/d/1nHRKzLn9X5NYEG64HAYnQ4kK3e3pktZ0xt5xXmzybDQ/edit#gid=0' target='_blank').team__modal__content__lower__members 出場メンバー 一覧

      .team__modal__content(style='display: none')
        .team__modal__content__upper
          img(src='./assets/images/modal_the-strong-6man-sp.png')
        .team__modal__content__lower
          .team__modal__content__lower__headline COMMENT
          .team__modal__content__lower__text 屈強な男6人の物語。
          a(href='https://docs.google.com/spreadsheets/d/1nHRKzLn9X5NYEG64HAYnQ4kK3e3pktZ0xt5xXmzybDQ/edit#gid=0' target='_blank').team__modal__content__lower__members 出場メンバー 一覧

      .team__modal__content(style='display: none')
        .team__modal__content__upper
          img(src='./assets/images/modal_div-sp.png')
        .team__modal__content__lower
          .team__modal__content__lower__headline COMMENT
          .team__modal__content__lower__text 2か月間の研修で身につけた ”同期の結束力” を武器に、初出場初優勝を目指して、頑張ります。
          a(href='https://docs.google.com/spreadsheets/d/1nHRKzLn9X5NYEG64HAYnQ4kK3e3pktZ0xt5xXmzybDQ/edit#gid=0' target='_blank').team__modal__content__lower__members 出場メンバー 一覧

      .team__modal__content(style='display: none')
        .team__modal__content__upper
          img(src='./assets/images/modal_togo-6-sp.png')
        .team__modal__content__lower
          .team__modal__content__lower__headline COMMENT
          .team__modal__content__lower__text もはやIMJ所属メンバーが藤後一人しかいないため、藤後のチームに変更。<br>藤後が選ぶ6人と兼務の2人を助っ人に従え、心機一転、優勝を狙います。
          a(href='https://docs.google.com/spreadsheets/d/1nHRKzLn9X5NYEG64HAYnQ4kK3e3pktZ0xt5xXmzybDQ/edit#gid=0' target='_blank').team__modal__content__lower__members 出場メンバー 一覧

      //a(href='group/index.html').group-schedule 予選グループ・対戦スケジュール
      .footer
        img(src='./assets/images/footer__triangle-sp.png')
        a(href='https://www.facebook.com/events/484653471951567/' target='_blank').footer__facebook
          img.announce(src='./assets/images/footer__facebook-sp.png')

