extends partial/_layout

block vars
  - var pageClass   = ''
  - var title       = 'RULE - IMJ CUP'
  - var description = ''
  - var keywords    = ''
  - var style       = './css/rule.css'

block script
  script(charset="UTF-8" src="./rule.bundle.js")
block contents
  main#main
    .menu__overlay(style='display:none')
    .menu__main(style='display:none')
      .menu__list
        a(href='index.html').menu__item.menu__item__top.menu__item--active
        a(href='#').menu__item.menu__item__summary
        a(href='/IMJCUP2018/group').menu__item.menu__item__group.menu__item--active
    .navi
      a(href='https://www.facebook.com/events/484653471951567/' target='_blank').navi__facebook
      .navi__menu.navi__menu__line


    .rule
      .rule__block.rule__block--about
        ul.rule__list
          li.rule__item 出場は全14チーム。
          li.rule__item 予選は2つのグループリーグで実施し、予選の結果に応じてノックアウト方式の決勝トーナメントを行い順位を決める。

        .white-box__wrapper
          .white-box
            h3.white-box__headline 予選リーグ
            ul.white-box__list
              li.white-box__item 7チームずつ、2つのグループに分かれる。
              li.white-box__item 試合時間：8分
              li.white-box__item 入れ替わり時間：2分
              li.white-box__item 全試合終了後、各チームの取得勝点をもとに<br>グループ内の順位を決定。
              li.white-box__item 
                | 同勝点で並んだチームがあった場合、<br>当該チーム同士の以下を参照して順位を決定。<br>
                | ⑴得失点差<br>⑵当該対戦結果<br>⑶得点数<br>⑷失点数<br>⑸じゃんけん


          .rule__arrow-sp.sp-only
            img(src='./assets/images/rule_arrow-sp.png')
          .white-box
            h3.white-box__headline 決勝トーナメント
            ul.white-box__list
              li.white-box__item 上位トーナメント、下位トーナメントからなる。
              li.white-box__item 予選各リーグの上位3チームは上位トーナメント、下位4チームは下位トーナメントに振り分ける。
              li.white-box__item 試合時間：8分
              li.white-box__item 入れ替わり時間：2分
              li.white-box__item 同点のまま終了した場合、1人ずつのサドンデス方式のPK戦で勝敗を決定。

        ul.rule__list
          li.rule__item 1チーム同時に出場できるのは5人。（フィールドプレイヤー4人、キーパー1人）
          li.rule__item メンバーの交代は無制限です。交代選手がコートの外に出てから、入れ替え選手はコートの中に入りましょう。
          li.rule__item 女性は6人目の選手としてプレー可能です。ただし、得点しても1点のカウント。また、経験者は対象外。
          li.rule__item 試合開始、終了等は、審判の笛を合図とする。<br>
            span.rule__item--small （注：前回大会までのラストワンプレーの終了が試合終了の合図ではない）

      .rule__block.rule__block--rule
        .rule__wrapper.rule___wrapper--underline
          .rule__rule__item
            .rule__headline 試合開始時
            ul.rule__list.rule__list--rule
              li.rule__item ジャンケンで勝った方のボールで、キックオフ。
              li.rule__item キックオフ直後のシュートは危ないのでやめましょう。
          .rule__rule__item
            .rule__headline タッチラインを割った場合
            ul.rule__list.rule__list--rule
              li.rule__item 相手ボールのキックイン
        .rule__wrapper
          .rule__rule__item
            .rule__headline ゴールラインを割った場合
            ul.rule__list.rule__list--rule
              li.rule__item 相手のゴールラインを割った → 相手ボールのゴールクリアランス
              li.rule__item 味方のゴールラインを割った → 相手ボールのコーナーキック
            .rule__note ※ゴールクリアランスとは、キーパーが手でボールを投げて再開する行為。
          .rule__rule__item
            .rule__headline ゴールした場合
            ul.rule__list.rule__list--rule
              li.rule__item 失点したチームのキックオフで試合再開。

      .rule__block.rule__block--foul
        ul.rule__list.rule__list--rule
          li.rule__item 反則を犯した場合は、相手ボールとなり、ファールを受けた場所からの直接フリーキックでプレーが再開されます。
          li.rule__item 特に自陣のペナルティエリア内で反則を犯した場合は、相手ボールのペナルティキックとなります。
        .rule__foul-list
          p ●キッキング：相手を蹴ったり蹴ろうとする行為
          p ●トリッピング：相手をつまづかせたり、つまづかせようとする行為
          p ●ファールチャージ：無謀に、あるいは過度の力で相手にぶつかる行為
          p ●ファールタックル：タックルをした時、ボールに触れる前に相手選手に触れる行為
          p ●ホールディング：相手選手を抑える
          p ●ハンドリング：意図的に手でボールに触れる
          ul.rule__foul-list__list
            li.rule__foul-list__item キーパー以外のプレイヤーは、オンプレーの際はいかなる場合も手を使ってはいけない。
            li.rule__foul-list__item キーパーは、自陣のゴールエルア内のみ手を使うことができる。ただし、味方から受けたパスについては、キーパーは手を使ってはいけない。
          p ●その他
          ul.rule__foul-list__list
            li.rule__foul-list__item 遅延行為 / 故意な時間稼ぎ
            li.rule__foul-list__item キックオフシュートや故意に相手に強くボールを蹴りつけるなど、危険と判断できる行為
            li.rule__foul-list__item 暴言などの侮辱行為（主に、相手および審判、観客に対するもの）
          .card__wrapper
            .card
              p.yellow.bigfont ▼警告（イエローカード）となる行為
              ul.rule__foul-list__list
                li.rule__item 反スポーツ的行為
                li.rule__item 言葉または行動で異議を示す
                li.rule__item 繰り返し規則違反をする
                li.rule__item プレーの再開を遅らせる
                li.rule__item 主審の許可を得ずフィールドに入ったり出たりする
            .card
              p.red.bigfont ▼退場（レッドカード）となる行為
              ul.rule__foul-list__list
                li.rule__item 著しく不正なプレー
                li.rule__item 乱暴な行為
                li.rule__item 相手プレーヤーや、その他の人につばを吐く
                li.rule__item 同じ試合で２つの警告を受ける（イエローカード2枚）
                li.rule__item 攻撃的、侮辱的で下品な発言や行動をする
                li.rule__item 相手チームの決定的な得点の機会を阻止するファール
          p ※退場者が出た場合
          ul.rule__foul-list__list
            li.rule__foul-list__item 退場者が出た試合の残り時間は、一人少ない状態で試合を続ける。
            li.rule__foul-list__item 退場者は、退場した試合の交代出場は不可。さらに、次の試合も出場停止
          p.bigfont ▼ファールとならない行為
          p ●バックパス
          ul.rule__foul-list__list
            li.rule__foul-list__item 味方キーパーへパス（バックパス）はOKです。
            li.rule__foul-list__item ただし、明らかな時間稼ぎを目的としたバックパスはやめましょう。
          p.bigfont ▼アドバンテージ（ファールがあったがプレーを流す行為）
          ul.rule__list.rule__list--rule
            li.rule__item 反則を受けたチームが、プレーを続けたとき有利になる場合にプレーを流す。

      a(href='https://www.facebook.com/events/484653471951567/' target='_blank').footer__facebook
        img.announce(src='./assets/images/footer__facebook-sp.png').sp-only
      img(src='./assets/images/copyright.png').footer__copyright.pc-only