@charset "UTF-8";
/*! modern-normalize | MIT License | https://github.com/sindresorhus/modern-normalize */
/* Document
   ========================================================================== */
/**
 * Use a better box model (opinionated).
 */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

/**
 * Use a more readable tab size (opinionated).
 */
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4; }

/**
 * Correct the line height in all browsers.
 */
html {
  line-height: 1.15; }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
 */
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct height in Firefox.
 */
hr {
  height: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Add the correct text decoration in Chrome, Edge, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp,
pre {
  font-family: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Remove the inheritance of text transform in Edge and Firefox.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  padding: 0; }

/**
 * Add the correct vertical alignment in Chrome and Firefox.
 */
progress {
  vertical-align: baseline; }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

html {
  width: 100%;
  height: 100%;
  max-width: 1920px;
  min-width: 768px;
  margin: 0 auto; }

body {
  background: #00022b;
  font-family: '游ゴシック', 'ヒラギノ角ゴ Pro W3', 'メイリオ', sans-serif;
  max-width: 1920px;
  min-width: 768px;
  margin: 0 auto; }

.menu__overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 3; }

.menu__main {
  position: fixed;
  width: 100%;
  max-width: 1500px;
  height: 520px;
  background: #380959;
  z-index: 3; }

.menu__list {
  width: 370px;
  margin: 0 auto;
  padding-top: 125px; }

.menu__item {
  width: 100%;
  height: 60px;
  margin-bottom: 5px;
  background-repeat: no-repeat;
  background-position: center center; }

.menu__item__top {
  background-image: url(../assets/images/menu__top.png);
  cursor: pointer; }

.menu__item__summary {
  display: block;
  background-image: url(../assets/images/menu__summary.png); }

.menu__item__group {
  background-image: url(../assets/images/menu__group.png); }

.menu__item__history {
  background-image: url(../assets/images/menu__history.png); }

.top__selected {
  position: relative; }

.top__selected:after {
  content: '';
  position: absolute;
  top: calc(50% - 2px);
  right: 0;
  left: 0;
  margin: 0 auto;
  width: 100px;
  height: 4px;
  background: #fff; }

.navi {
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1500px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 25px 30px;
  background: transparent;
  z-index: 5; }

.navi .navi__menu {
  width: 32px;
  height: 32px;
  cursor: pointer; }

.navi .navi__menu__line {
  background-image: url(../assets/images/menu.png);
  background-repeat: no-repeat;
  background-position: center center; }

.navi .navi__menu__close {
  background-image: url(../assets/images/close.png);
  background-repeat: no-repeat;
  background-position: center center; }

.navi .navi__facebook {
  width: 32px;
  height: 32px; }

.kv__wrapper {
  width: 100%;
  position: relative;
  text-align: center;
  height: 2180px;
  background-image: url(../assets/images/kv.png);
  background-position: top center; }
  .kv__wrapper .kv__anniversary {
    top: 5%;
    right: 0;
    left: 0;
    margin: 0 auto; }
  .kv__wrapper .kv__title {
    top: 14%;
    right: 0;
    left: 0;
    margin: 0 auto; }
  .kv__wrapper .kv__date {
    top: 24%;
    right: 0;
    left: 0;
    margin: 0 auto; }

.kv__wrapper img {
  content: '';
  position: absolute; }

.kv__wrapper .kv__headline {
  position: absolute;
  top: 33%;
  right: 0;
  left: 0;
  margin: 0 auto;
  font-size: 32px;
  line-height: 52px;
  color: #fff; }

.kv__wrapper .kv__text {
  position: absolute;
  top: 40%;
  right: 0;
  left: 0;
  margin: 0 auto;
  font-size: 14px;
  line-height: 21px;
  color: #fff; }

.about {
  position: absolute;
  top: 78%;
  right: 11%;
  display: block;
  width: 242px;
  height: 56px;
  border: 1px solid #480C7E;
  background: #fff; }

@media (max-width: 1275px) {
  .about {
    left: 80%; } }

.about img {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  width: 163px;
  height: 16px; }

.footer__facebook {
  position: absolute;
  display: block;
  bottom: 60px;
  left: 0;
  width: 136px;
  height: 32px; }
  .footer__facebook img {
    width: 100%; }
